_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
koodiesimerkit/ipython/VENV/*
koodiesimerkit/explore/VENV/*
koodiesimerkit/explore/data/*
koodiesimerkit/output1.html
koodiesimerkit/output1.html
koodiesimerkit/linear-regression/demo.ipynb
koodiesimerkit/airbnb/.ipynb_checkpoints/python_scikit_airbnb (2)-checkpoint.ipynb
